@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-black text-[#FFFFFF];
}

/* about section */
.grid-container {
  @apply w-full h-full border border-black-2 bg-black-1 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
}

.grid-headtext {
  @apply text-xl font-semibold mb-2 text-white;
}

.grid-subtext {
  @apply text-[#afb0b6] text-base;
}

.copy-container {
  @apply cursor-pointer flex justify-center items-center gap-2;
}
